{{#if home}}
{{#projectList}}
<div class="item-separator">          
    <div class="item-image">
        <a href="/projects/{{directory}}"><img src="/{{directory}}/thumbnail.png"></a>
    </div>
        <a class="item-name" href="/projects/{{directory}}">{{title}}</a>
</div>
{{/projectList}}  
{{else}}
    {{#projectList}}
        <div><a href="/projects/{{directory}}" class="nav-item">{{title}}</a></div>
    {{/projectList}}  
{{/if}}

